@charset "UTF-8";

/* header start*/
header{
    width:7.5rem;
    position:fixed;
    top:0;
    left:50%;
    margin-left:-3.75rem;
    z-index:10;
}
header .wrapper{
    height:.78rem;
    padding:.18rem;
    line-height:.42rem;
    background:#ff4d4d;
}
header p{
    font-size:.36rem;
    color:#fff;
    cursor:pointer;
}
header .lt{
    font-family:"";
    margin-right:2.6rem;
}
header .fr i{
    cursor:pointer;
}
header .shoppingcar{
    width:.38rem;
    height:.38rem;
    background:url(../images/shoppingcar.png) no-repeat;
    background-size:.38rem .38rem;
    margin-right:.2rem; 
}
header .return{
    width:.44rem;
    height:.38rem;
    background:url(../images/return.png) no-repeat;
    background-size:.44rem .37rem; 
}
/* header end*/
/* nav  end*/
nav .wrapper{
    padding-top:.18rem;
    height:1.5rem;
    background:#d7d7d7;
}
nav li{
    float:left;
    width:1.78rem !important;
    height:1.1rem;
    line-height:1.3rem;
    text-align:center;
    background:#fff;
    border-radius:.08rem;
    margin-left:.08rem;
}
nav li:nth-child(1){
    width:1.3rem !important;
}
nav ul .active{
    background:#333;
}
nav ul .active a{
    color:#fff;
}
/* nav end*/
/* waresshow start */
.waresshow .wrapper{
    background:#e4e4e4;
}
.waresshow li{
    float:left;
    width:3.48rem;
    margin:.16rem 0 0 .16rem;
}
.waresshow li img{
    width:3.48rem;
    height:3.48rem;
    vertical-align:top;
}
.waresshow li .txt{
    padding:.3rem .18rem .18rem;
    background:#fff;
}
.waresshow li p:nth-child(1) a{
    color:#000;
    font-size:.3rem;
}
.waresshow li p:nth-child(2) {
    font-size:.26rem;
    color:#999;
    padding:.3rem 0 .06rem 0;
    border-bottom:.03rem solid #ccc;
    margin-bottom:.06rem;
}
.waresshow li p:nth-child(3){
    color:#f00;
}
.waresshow li p:nth-child(3) span{
    text-decoration:line-through;
    font-size:.26rem;
    color:#999;
    margin-left:.3rem;
}
/* waresshow end */
.footer ul li:nth-child(2) a:link,.footer ul li:nth-child(2) a:visited{color:#eb4f38;;}









